@import "../../shared-global/src/styles/style.scss";

/* Layout Styles */

/* Change Search input to be less wide to allow for version */
#search-query {
  width: 75%;
}

/* Special version button */
.version-button {
  /* padding: 4px 12px 4px 12px !important; */
  /* border: 1px solid #337AB7; */
  /* border-radius: 5px; */
  /* margin: 5px -55px 0 0; */
}

.version-button>i:before {
  font-size: xx-small;
}

/* New main.css for 2sxc 17 docs */

/* added by 2dm */
.priority-web:after,
.toc .nav>li>a.priority-web:after {
  content: " 🌐";
}

/* internal not so important */
.priority-internal,
.toc .nav>li>a.priority-internal {
  color: lightgray;
}

.priority-data:after,
.toc .nav>li>a.priority-data:after {
  content: " 🧊";
}

.priority-metadata:after,
.toc .nav>li>a.priority-metadata:after {
  content: " 🔖";
}

.priority-adam:after,
.toc .nav>li>a.priority-adam:after {
  content: " 📷";
}

.priority-star:after,
.toc .nav>li>a.priority-star:after {
  content: " ⭐";
}

/* future icons: 🌐 🧊 ♥️ 🔍 🏷️ 🔖 📕 💾 💻 📤 📥📦 🎁💼📁📎🔗 📷🖼️*/
/* see also https://emojipedia.org/microsoft/ */


.priority-deprecated,
.toc .nav>li>a.priority-deprecated {
  text-decoration: line-through;
  color: lightgray;
}


/***** Info-SVGs: hide the prepared boxes *****/
.svg-highlight.prepared {
  visibility: hidden;
}

.svg-highlight {
  stroke: yellow;
  stroke-width: 25;
  fill: none;
  animation: highlight-bounce 3s linear infinite;
}

svg:hover .svg-highlight {
  animation: highlight-bounce 5s linear infinite;
}

.highlight-max .svg-highlight {
  stroke-width: 25;
}

@keyframes highlight-bounce {

  0%,
  100% {
    stroke: gold
  }

  20%,
  80% {
    stroke: cornsilk
  }

  50% {
    stroke: black
  }
}


/* Image floats */

img.float-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
}

img.right-thumbnail {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
  width: 25%;
}

img.float-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}

/*
  Gallery images, not quite done.
  To make it perfect, we should
  - make different thumbnail sizes for mobile
  - make sure the lightbox knows they should be chained together
  - find out how to break the css at the last image...
*/

div[gallery] img {
  margin-right: 20px;
  margin-bottom: 10px;
  /*
    The number -24 is random, just so 4 fit on a row.
    this is actually not quite right, the last one shouldn't have a margin-right
    but I can't get it to work with nth-of-type
  */
  width: calc(25% - 24px);
}

/** The A is automatically wrapped around the image */
/* NOT working, ignore for now */
/* div.gallery a img:nth-of-type(4n) {
  margin-right: 0;
} */


img.full-width {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;

  /* add shadow to all full-size images since they often have white around them */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 10px 0;
}

/* Feature Images */

img.feature {
  max-width: 100%;
  max-height: 100px;
}

/* 
  add shadow to all full-size images since they often have white around them
  note that you shoud prefer full-width or something, as that also ensures spacing around it
*/
img.glow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 10px 0;
}